{% extends 'adminhome.html' %}


{% block service %}
<h1 align="center">Add Todays Meal Here</h1>


<font style="color:orange;font-size:20px;">{{output}}</font>
<br>
<form enctype="multipart/form-data" method="post" action={{curl}}myadmin/menulist/ >
{% csrf_token %}
<table class="table table-striped" cellspacing="10">
<tr>
	<td>Meal Name</td>
	<td><input type="text" name="mealnm" placeholder="meal name"/></td>
	<td>Meal Price</td>
	<td><input type="text" name="mealprice" placeholder="meal price"/></td>
</tr>
<tr>
	<td>Meal discription</td>
	<td><input type="text" name="mealdiscription" placeholder="discription"/></td>

	<td>meal Image</td>
	<td><input type="file" name="mealimg"/></td>
</tr>
<tr>
	<td>Meal Category</td>
	<td><select name="mealcatnm">
	<option>select category</option>
	
	  <option>break</option>
	  <option>lunch</option>
	  <option>dinner</option>
	  <option>snaks</option>
	  <option>coffee</option>
		
	</select>
    </td>
	<td><input class="btn btn-success" type="submit" name="s" value="Add Meal"/></td>
	<td></td>
</tr>
</table>

<br>

<table class="table table-striped">
	<tr style="background-color: grey;">
		
			<td>Meal id</td>
			<td>Meal name</td>
			<td>Meal price</td>
			<td>Meal discription</td>
			<td>Meal category</td>
			<td>Edit</td>
			<td>action</td>
		
	</tr>
	{% for row in menulist %}
	<tr>
			<td>{{row.menuid}}</td>
			<td>{{row.menunm}}</td>
			<td>{{row.menuprice}}</td>
			<td>{{row.menudiscription}}</td>
			<td>{{row.menucat}}</td>
			<td><a href="#" title="Edit" style="font-size: 20px"><i class="fa fa-edit"></i></a></td>
			<td><a href="{{curl}}myadmin/delmenu?menuid={{row.menuid}}&vcat=delete" title="Delete" style=" color: red; font-size: 20px" ><i class="fa fa-trash"></i></a></td>
	</tr>
	{% endfor %}
</table>
<br><br>
{% endblock %}